header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #141D2F;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 100px 0 100px;
}

.name{
    width: 150px;
    display: flex;
    font-size: 40px;
    font-weight: 700;;
}

.letter-t{
    color: #4B47FF;
}

.letter-r{
    color: #00BEE8;
}

.links{
    width: 324px;
    display: flex;
    gap: 29px;
    cursor: pointer;


    a{
        color: white;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-decoration: none;

        &:hover{
            color: #00BEE8;
        }
    }

    @media(max-width: 1320px){
        display: none;
    }
}



