<header>
    <a  (click) ="disableImprint()" style="color: white; text-decoration: none;"><span class="name">
            <p>Wal</p>
            <p class="letter-t">t</p>
            <p>e</p>
            <p class="letter-r">r</p>
        </span></a>
    <span class="links">
        <a href="#aboutMe" (click) ="disableImprint()">About me</a>
        <a href="#mySkills" (click) ="disableImprint()">Skills</a>
        <a href="#portfolio" (click) ="disableImprint()">Portfolio</a>
    </span>

    <div class="burger-btn" (click)="showMenu()" [class.clicked]="burgermenu">
        <div></div>
    </div>

    <div class="resp-menu-container" [class.active-menu]="burgermenu">
        <a href="#aboutMe" (click) ="disableImprint()">About me</a>
        <a href="#mySkills" (click) ="disableImprint()">My skills</a>
        <a href="#portfolio" (click) ="disableImprint()">Portfolio</a>
        <a href="#contactMe" (click) ="disableImprint()">Contact</a>

    </div>
</header>