<div class="content-container">
    <span class="lft-span">
        <a  (click) ="disableImprint()"  style="color:white; text-decoration: none;"><span class="name">
            <p>Wal</p>
            <p class="letter-t">t</p>
            <p>e</p>
            <p class="letter-r">r</p>
        </span></a>
        <a   (click)="toggleVisibility()" style="font-size: 16px;">Imprint</a>
    </span>
    <span>© Walter Doni</span>
    <span class="icons">
        <a href="https://github.com/WalterDoni" target="_blank"><img src="assets/img/headline-section/Githubbutton.png"
                alt="Github"></a>
        <a href="#contactMe"><img src="assets/img/headline-section/Emailbutton.png" alt="Email"></a>
        <a href="https://www.linkedin.com/in/walter-doni-215180268/" target="_blank"><img
                src="assets/img/headline-section/Linkedinbutton.png" alt="LinkedIn"></a>

    </span>
</div>