<img style="position: absolute; left: 0;top:3950px; z-index: 1;" src="assets/img/portfolio-section/backgroundimg.png">
<div class="content-container">
    <div class="image-container"><img src="assets/img/portfolio-section/Join.png"></div>
    <div class="description-container" style="padding-right: 100px;">
        <h3>Join</h3>
        <h4>Javascript | HTML | CSS</h4>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign
            users and categories.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;">Live test</button>
            <button style="background-color: #141D30;; border-color: #00BEE8;">Github</button>
        </div>

    </div>
</div>
<div class="content-container">
    <div class="description-container" style="padding-left: 100px;">
        <h3>Fantasy Kingdom</h3>
        <h4>Javascript | HTML | CSS</h4>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help the knight to defeat the evil.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;">Live test</button>
            <button style="background-color: #141D30;; border-color: #00BEE8;">Github</button>
        </div>
    </div>
    <div class="image-container"><img src="assets/img/portfolio-section/Fantasy.png"></div>
</div>
<div class="content-container">

    <div class="image-container"><img src="assets/img/portfolio-section/Pokemon.png"></div>
    <div class="description-container" style="padding-right: 100px;">
        <h3>Pokedex</h3>
        <h4>Javascript | HTML | CSS | API</h4>
        <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;">Live test</button>
            <button style="background-color: #141D30;; border-color: #00BEE8;">Github</button>
        </div>

    </div>

</div>

<div class="content-container">
    <div class="description-container" style="padding-left: 100px;">
        <h3>Ring of fire</h3>
        <h4>Angular | Typescript | Firebase </h4>
        <p>A simple way to work with a online database, to play on multiple PCs the same game.The classic ring of fire
            cardgame.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;">Live test</button>
            <button style="background-color: #141D30;; border-color: #00BEE8;">Github</button>
        </div>
    </div>
    <div class="image-container"><img src="assets/img/portfolio-section/Ringoffire.png"></div>
</div>