.content-container{
    position: relative;
    width: 100%;
    background-color: #141D30;
    display: flex;
    color: white;
    height: 600px;
  

    h3{
        font-size: 32px;
        font-weight: 700;
        color: #4B47FF;
        padding-bottom: 10px;
        
    }

    h4{
        font-size: 23px;
        font-weight: 400;
        color: #00BEE8;
        padding-bottom: 10px;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 30px;
    }
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
   
    img{
        width: 500px;
        height: 300px;
        border-radius: 10px;
    }
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    z-index: 2;
 
}

.buttons{
    display: flex;
    gap: 100px;
    


    button{
     
        color: white;
        border-radius: 10px;
        width: 150px;
        height: 60px;
        font-size: 23px;
        transition: transform 0.3s ease-in-out;

        &:hover{
            transform: scale(1.1);
            cursor: pointer;
            background-color: #00BEE8!important;
        }
      
    }
}