<img  class="bg-img1" src="assets/img/portfolio-section/background.png">
<img  class="bg-img2" src="assets/img/portfolio-section/background1.png">
<div class="content-container" >
    <div class="image-container hidden"><img src="assets/img/portfolio-section/Join.png"></div>
    <div class="description-container pr100 hidden">
        <h3>Join</h3>
        <h4>Javascript | HTML | CSS</h4>
        <p><span translate>Task manager inspired by the Kanban System.</span><span translate>Create and organize tasks using drag and drop functions, assign
            users and categories.</span></p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;"><a href="https://join.walter-doni.at/" target="_blank">Live test</a></button>
            <button style="background-color: #141D30; border-color: #00BEE8;"><a href="https://github.com/WalterDoni/Join" target="_blank">Github</a></button>
        </div>

    </div>
</div>
<div class="content-container fr">
    <div class="description-container pl100 hidden">
        <h3>Simple-CRM</h3>
        <h4>Angular | Typescript | Firebase | MaterialDesign </h4>
        <p translate>Customer Relationship Management System. Create and edit customers. See the total purchaspower per company.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;"><a href="https://simple-crm.walter-doni.at/" target="_blank">Live test</a></button>
            <button style="background-color: #141D30;; border-color: #00BEE8;"><a href="https://github.com/WalterDoni/simple-CRM" target="_blank">Github</a></button>
        </div>
    </div>
    <div class="image-container hidden"><img src="assets/img/portfolio-section/simple-crm.jpg"></div>
</div>
<div class="content-container">
    <div class="image-container hidden" ><img src="assets/img/portfolio-section/Fantasy.png"></div>
    <div class="description-container pr100 hidden">
        <h3>Fantasy Kingdom</h3>
        <h4>Javascript | HTML | CSS</h4>
        <p translate>A simple Jump-and-Run game based on an object-oriented approach. Help the knight to defeat the evil.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;"><a href="https://fantasy-kingdom.walter-doni.at/" target="_blank">Live test</a></button>
            <button style="background-color: #141D30;; border-color: #00BEE8;"><a href="https://github.com/WalterDoni/Fantasy-Kingdom" target="_blank">Github</a></button>
        </div>

    </div>

</div>

<div class="content-container fr">
    <div class="description-container pl100 hidden">
        <h3>Pokedex</h3>
        <h4>Javascript | HTML | CSS | API</h4>
        <p translate>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
        <div class="buttons">
            <button style="background-color: #4B47FF; border: none;"><a href="https://pokedex.walter-doni.at/" target="_blank">Live test</a></button>
            <button style="background-color: #141D30;; border-color: #00BEE8;"><a href="https://github.com/WalterDoni/Pokedex" target="_blank">Github</a></button>
        </div>
    </div>
    <div class="image-container hidden"><img src="assets/img/portfolio-section/Pokemon.png"></div>
</div>