<div class="content-container">
    <div class="photo-container">
        <img class="bg-img" src="assets/img/headline-section/backgoundPhotoBig.png">
        <img class="photoBig" src="assets/img/headline-section/photoBig.png" alt="">
    </div>
    <div class="text-container">

        <div class="iam-line">I am</div>
        <div>
            <p class="name">Walter Doni</p>
            <p style="color: #4B47FF">FRONTEND DEVELOPER</p>
            <button>Let's talk!</button>
        </div>
    </div>
    <img class="curved-seperator" src="assets/img/headline-section/Vector (1).png" alt="">
</div>
<div class="network-container">
    <div class="small-line"></div>
    <img src="assets/img/headline-section/Githubbutton.png" alt="Github">
    <img src="assets/img/headline-section/Emailbutton.png" alt="Email">
    <img src="assets/img/headline-section/Linkedinbutton.png" alt="LinkedIn">
    <a href="">walter.doni@gmx.at</a>
</div>

<div class="scroll">Scroll down ➔</div>