<div class="content-container" id="headline">
    <div class="photo-container">
        <img class="bg-img" src="assets/img/headline-section/backgoundPhotoBig.png">
        <img class="photoBig" src="assets/img/headline-section/photoBig.png" alt="">
    </div>
    <div class="text-container">

        <div class="iam-line" translate>I am</div>
        <div>
            <p class="name">Walter Doni</p>
            <p style="color: #4B47FF" translate>FRONTEND DEVELOPER</p>
            <button><a  href="#contactMe" translate>Let's talk!</a></button>
        </div>
    </div>
    <img class="curved-seperator" src="assets/img/headline-section/Vector (1).png" alt="">
</div>
<div class="network-container">
    <div class="small-line"></div>
    <a href="https://github.com/WalterDoni" target="_blank"><img src="assets/img/headline-section/Githubbutton.png" alt="Github"></a>
    <a href="#contactMe"><img src="assets/img/headline-section/Emailbutton.png" alt="Email"></a>
    <a href="https://www.linkedin.com/in/walter-doni-215180268/" target="_blank"><img src="assets/img/headline-section/Linkedinbutton.png" alt="LinkedIn"></a>
    <a href="#contactMe">mail@walter-doni.at</a>
</div>

<div class="scroll" translate >Scroll down ➔</div>