.content-container {
    position: relative;
    top: 35px;
    padding-top: 130px;
    background-color: #141D2F;
    color: white;
    display: flex;
    height: 1180px;
}

.photo-container {
    position: relative;
    width: 50%;
    background-color: #141D2F;

}

.photoBig {
    position: absolute;
    height: 1000px;
    bottom: 350px;
    left: 100px;
}

.text-container {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;

    @media(max-width: 1700px) {
        font-size: 50px;
    }

    @media(max-width: 1320px){
        position: absolute;
        left:240px;
        justify-content: unset;
        bottom: -10px;
        z-index: 2;
        font-size: 32px;
    }

    .name {
        font-weight: 700;
        font-size: 90px;
        line-height: 40px;

        @media(max-width: 1700px) {
            font-size: 80px;
        }
        @media(max-width: 1320px){
            font-size: 45px;
        }
    }

    button {
        margin-left: 200px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 160px;
        border-radius: 10px;
        font-size: 23px;
        background-color: #00BEE8;
        color: white;
        border: none;
        transition: transform 0.3s ease-in-out;

        &:hover {

            transform: scale(1.1);
            cursor: pointer;
            background-color: #4B47FF;
        }

        @media(max-width: 1700px) {
            font-size: 16px;
        }

        @media(max-width: 1320px){
            margin-left: 50px;
        }
    }
}

.curved-seperator {
    position: absolute;
    width: 100%;
    top: 630px;

    @media (max-width: 2000px) {
        top: 650px;
    }

    @media (max-width: 1680px) {
        top: 670px;
    }

    @media (max-width: 1500px) {
        top: 700px;
    }

    @media (max-width: 1270px) {
        top: 730px;
    }
}

.network-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 42px;
    font-size: 23px;
    color: white;
    bottom: 270px;

    img {
        height: 30px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline solid #00BEE8;

        }
    }

    @media(max-width: 1320px){
        bottom: 160px;
    }
}

.small-line {
    width: 100px;
    height: 4px;
    background-color: #4B47FF;
}

.scroll {
    position: absolute;
    color: white;
    right: 100px;
    bottom: 385px;
    rotate: 90deg;
    font-size: 23px;
    animation: moving 3s linear infinite;

    &:hover {
        cursor: pointer;
        color: #00BEE8;
    }

    @media(max-width: 1320px){
        display: none;
    }
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(20px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}