<div class="about-me-section-container " >
    <div class="about-me-container hidden" id="aboutMe" >
        <div>
            <h1 translate>About me</h1>
            <p translate>Welcome on my Website.I am a junior Front-End developer based in Vienna with fokus on Javascript and Angular.Further down the website you can find out more about my solo or team projects, which include business apps and a jump-and-run game.</p>
        </div>
        <div style="display:flex"><img style="padding-right: 25px;width: 60px;height: 60px;" src="assets/img/about-me-section/lightbulb.png">
            <p translate>After I discovered my interest in web development, the next logical step for me was to attend a coding school. There I learned everything I needed to know to start my career in IT.</p>
        </div>
        <div style="display:flex"><img style="padding-right: 25px;width: 60px;height: 60px;" src="assets/img/about-me-section/puzzlepiece.png">
            <p><span translate>Due to my professional career I am strongly team oriented and talented to solve problems.</span><span translate>Preferably as simple and understandable as possible.</span> 
               </p>
        </div>
    </div>
    <div class="image-container hidden">
        <img  style ="object-fit: cover;"src="assets/img/about-me-section/smallpicture01.png">
        <span class="seperator"></span>
    </div>
    <img class="bg-img" src="assets/img/about-me-section/purple-shadow.png">
</div>