<div class="about-me-section-container">
    <div class="about-me-container">
        <div>
            <h1>About me</h1>
            <p>Hi, I am a Front-end developer based in Vienna, Austria(...) Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Enim vitae ea, vero est fugiat labore tempora similique tenetur. Possimus nulla,
                voluptatibus non ab dignissimos expedita veritatis! Praesentium, quaerat qui! Quam.</p>
        </div>
        <div style="display:flex"><img src="assets/img/about-me-section/lightbulb.png">
            <p>Some personal thing to share(...)Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae ea,
                vero est fugiat labore tempora similique tenetur. Possimus nulla, voluptatibus non a</p>
        </div>
        <div style="display:flex"><img src="assets/img/about-me-section/puzzlepiece.png">
            <p>Some personal thing to share(...)Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae ea,
                vero est fugiat labore tempora similique tenetur. Possimus nulla, voluptatibus non a</p>
        </div>
    </div>
    <div class="image-container">
        <img src="assets/img/about-me-section/head-image.png">
        <span class="seperator"></span>
    </div>
    <img class="bg-img" src="assets/img/about-me-section/purple-shadow.png">
</div>