<div class="about-me-section-container " >
    <div class="about-me-container hidden" id="aboutMe" >
        <div>
            <h1>About me</h1>
            <p>Welcome on my Website.My name is Walter Doni. Currently i am a 
                Front-end developer based in Vienna.In the future i will declare myself as a Fullstack developer, after i finish my training</p>
        </div>
        <div style="display:flex"><img style="padding-right: 25px;width: 60px;height: 60px;" src="assets/img/about-me-section/lightbulb.png">
            <p>I have always been interested in the technology and workings of web development.
                 That's why I want to take off now and start my career in this industry.</p>
        </div>
        <div style="display:flex"><img style="padding-right: 25px;width: 60px;height: 60px;" src="assets/img/about-me-section/puzzlepiece.png">
            <p>Due to my professional career I am strongly team oriented and love to solve problems. 
                Preferably as simple and understandable as possible.</p>
        </div>
    </div>
    <div class="image-container hidden">
        <img src="assets/img/about-me-section/head-image.png">
        <span class="seperator"></span>
    </div>
    <img class="bg-img" src="assets/img/about-me-section/purple-shadow.png">
</div>