<div class="content-container" id="contactMe">
    <div class="headline">
        <div class="seperator"></div>
        <h1>Contact</h1>
    </div>
    <div class="contact-formular-message">
        <span class="halfwidth" style="margin-bottom: 25px;">
            <h3 translate>Want to know more about me? Need a Frontend developer?</h3>
            <p translate>Contact me via this formular, if you have any questions or would like to know more about me. I will reply as soon as possible.</p>
        </span>
        <span class="halfwidth" style="display: flex; justify-content: center;">
            <form (submit)="sendMail()" #myForm>
                <div style="width: 100%;">
                    <input type="text" name="name"  [placeholder]="'Your name...' | translate" #formName
                        (keyup)="onInputChangeName(formName.value)" [ngClass]="{'alert-border' : alertBorderName}"
                        [ngClass]="{'green-border' : greenBorderName}">
                    <p class="alertForm d-none" #formNameAlert translate>Your name is required.</p>
                </div>
                <div style="width: 100%;">
                    <input type="text"  [placeholder]="'Your email...' | translate"  #formEmail (keyup)="onInputChangeEmail(formEmail.value)"
                        [ngClass]="{'alert-border' : alertBorderEmail}" [ngClass]="{'green-border' : greenBorderEmail}">
                    <p class="alertForm d-none" #formEmailAlert translate>A correct email is required.</p>
                </div>
                <div style="width: 100%;">
                    <textarea type="message" id="" cols="30" rows="10"  [placeholder]="'Your message...' | translate"  #formMessage
                        (keyup)="onInputChangeMessage(formMessage.value)" [ngClass]="{'alert-border' : alertBorderMessage}"
                        [ngClass]="{'green-border' : greenBorderMessage}"></textarea>
                    <p class="alertForm d-none" #formMessageAlert translate>Your message is empty.</p>
                </div>

                <div style="display: flex; height: 50px;"><input style="width: 25px; margin-bottom: 0 !important;"
                        type="checkbox" #formPrivacy (change)="toggleDisabledButton(formPrivacy.checked)">
                    <p class="policy"><span translate>I have read the </span><a style= "cursor: pointer;"(click) = "showImprint()" translate>
                            privacy policy </a><span translate>and free to the
                                processing of my data as outlined.</span></p>
                </div>

                <button #formButton [disabled]="disabledButton"
                    [ngStyle]="{'background-color': !disabledButton ? '' : 'lightgray'}"
                    [ngClass]="{'disabled-button': disabledButton}" translate>Send message</button>

            </form>
        </span>
        <a href="#headline"><img class="up-btn" src="assets/img/contact-section/Go up button.png"></a>
    </div>
    <img class="bg-img" src="assets/img/contact-section/backgrpund.png">

    <div class="emailSuccess" #emailSuccess translate>Thank you! I will answer your email as soon as possible.:)</div>
</div>