<div class="content-container">
    <div class="headline">
        <div class="seperator"></div>
        <h1>Contact</h1>
    </div>
    <div class="contact-formular-message">
        <span style="width: 50%;">
            <h3>Got a problem so solve?</h3>
         <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
         <p>Need a Frontend developer? <b>Contact me!</b></p>
        </span>
        <span style="width: 50%; display: flex; justify-content: center;" >
            <form action="https://w01e6044.kasserver.com/send_mail/send_mail/send_mail.php">
                <input type="text"  name="name" placeholder="Your name...">
                <input type="text" placeholder="Your email...">
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your message..."></textarea>
                <p>I've reat the <a href="">privacy policy</a> and afree to the processing of my data as outlined.</p>
                <button>Send message :)</button>
            </form></span>
            <img  style="width: 40px;height: 40px; position: absolute; bottom: -110px; right: 105px;"src="assets/img/contact-section/Go up button.png" >
    </div>
    <img style ="position: absolute; left: 0;bottom: -290px; z-index: 1;"src="assets/img/contact-section/backgrpund.png" >
</div>