<div class="content-container " id="mySkills">
<div class="left-cont hidden">
    <div class="skills-images-container">
        <div *ngFor="let skill of skill_images; let i = index"><img src="assets/img/my-skills-section/{{skill_images[i]}}" alt="">{{skill_names[i]}}</div>
    </div>
</div>
<div  class="right-cont hidden">
    <div class="skills-description-container">
        <h1 translate>My skills</h1>
        <p translate>I have grown my Front-End developments skills that have allowed me to create different real projects.</p>
        <button><a href="#contactMe" translate>Get in touch</a></button>
    </div>
</div>
<div class="seperator"></div>
<img class="bg-image" src="assets/img/my-skills-section/L. blue 1.png">
</div>