<div class="content-container">
<div style="width: 60%;">
    <div class="skills-images-container">
        <div *ngFor="let skill of skill_images; let i = index" style="display: flex; justify-content: center; align-items: center ;flex-direction: column;padding-right: 65px;"><img src="assets/img/my-skills-section/{{skill_images[i]}}" alt="">{{skill_names[i]}}</div>
    </div>
</div>
<div style="width: 40%;">
    <div class="skills-description-container">
        <h1>My skills</h1>
        <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <button> Get in touch</button>
    </div>
</div>
<div class="seperator"></div>
<img style="position: absolute; left: 0; z-index: -1; top: 290px;"src="assets/img/my-skills-section/L. blue 1.png">
</div>